runtime: go111
service: queue-pusher

handlers:
- url: /.*
  script: auto

env_variables:
  # These should be substituted in the travis deployment script.
  RELEASE_TAG: {{RELEASE_TAG}}
  COMMIT_HASH: {{COMMIT_HASH}}
